{
    "tabWidth": 4,
    "printWidth": 120,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
