@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
label {
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
textarea {
    resize: none;
}

.container-1280 {
    width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-1280.px {
    @apply px-4;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-type-1 {
    @apply lg:text-3xl text-xl font-bold;
}
.input-type-1 {
    @apply lg:text-base text-sm border-solid border-gray-200 border-[1px] rounded-md p-3;
}
