@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.container-1280 {
    width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-1280.px {
    @apply px-4;
}

.flex-center {
    @apply flex items-center justify-center;
}